.big-code, .big-code pre, .big-code pre.php
{
    font-size: 16px !important;	
}
.bsa_it_p{
    display:none !important;
}
.via_ad_packs{
    text-align:right;
    background: #F0F0F0 !important;
    border:1px solid #EEE;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-top:none !important;
    padding-right:5px;
    padding-bottom:5px;
    border-radius: 0px 0px 6px 6px;
}
.one .bsa_it_ad{
    border:1px solid #EEE !important;
    border: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-bottom:none !important;
    border-radius: 6px 6px 0px 0px;
    background: #F0F0F0 !important;
}
.classic-table
{
    width: 100%;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
}
.classic-table tr td, .classic-table tr th
{
    border: 1px solid #CCC;
    border-right: none;
    border-bottom: none;
    padding: 5px;
    text-align: left;
}

html,body{
    height:100%;
    font-family: 'Lato', sans-serif;
    word-wrap:normal;
}


#about{
    min-height:100%;
    padding:10px;
    color:#efefef;
    background-image: url(../images/background-image.jpg);
}
#user_gallery{
    min-height:100%;
    background-color:#707070;
    padding:10px;
    color:#efefef;
}

#content{
    min-height:100%;
    background-color:#555555;
    color:#efefef;
}

#enquiry_form{
    min-height:100%;
    background-color:#464646;
    color:#efefef;
}


#events{
    min-height:100%;
    padding:10px;
    /*        Attribution: http://commons.wikimedia.org/wiki/File:BoogalooAudienceNOLA2009.JPG     */
    background-image: url(../images/events_img.JPG);
}

#upload{
    min-height:100%;
    padding:10px;
    background-image: url(../images/upload_img.jpg);
}

.spacing {
    margin-bottom: 6%;
}

.wrapper{
    padding: 100px 0 0 0;
    background-color:#555555;
    color:#F8F8F8;
}


.element_spacing {
    margin-top: 12%;
}

.margin_spacing {
    margin-top:20%;
}

.element_margins {
    margin-top:5%;
    margin-bottom:5%;
}


.about_page, .events_page, .upload_page {
    font-family: 'Roboto', sans-serif;
    word-wrap:normal;
}

.tag-line, .img-title{
    font-weight: bold;
}


span {
    margin-right: 5px;
}

h3,h4{
    margin-bottom: 6%;
}


h1{
    margin-bottom: 6%;
    font-size: 28px;
}

p{
    font-size: 17px;
}


a.btn-lg{
    text-decoration: none;
}


